[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = '3.6'


[packages]

slackclient = "*"
Flask = "*"
gunicorn = "*"
PyYAML = "*"
Werkzeug = "==0.12"
zappa = "*"
python-dotenv = "*"
PyMySQL = "*"


[dev-packages]

pycodestyle = "*"
mypy = "*"
awscli = "*"
