[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = '3.6'


[packages]

slackclient = "*"
flask = "*"
gunicorn = "*"
pyyaml = "*"
"psycopg2" = "*"
werkzeug = "==0.12"
zappa = "*"
python-dotenv = "*"


[dev-packages]

pycodestyle = "*"
mypy = "*"
awscli = "*"
