[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

slackclient = "*"
flask = "*"
gunicorn = "*"
pyyaml = "*"


[dev-packages]

pycodestyle = "*"
mypy = "*"